# Objectives:
-Review core 'pandas' objects: 'pandas.Series' and 'pandas.DataFrame'

# 'Pandas'

-Python package to wrangle and analyze tabular data 
-built on top of NumPy
-core tool for data analysis in Python

In [1]:
import pandas as pd 
import numpy as np

# Series 

a 'pandas.Series':
-is one of the core data structures in 'pandas'
-a 1-dimensional array of *indexed* data 
-will be the columns of the 'pandas.DataFrame'

# Creating a pandas Series 

Several ways of creating a pandas Series. 
For now, we will create series using:
```
s = pd.Series(data, index=index)
```
- 'data' = numpy array (or a list of objects that can be converted to NumPy types)
- 'index' = a list of indices of same length as data

In [2]:
#Ex: a pandas series from a numpy array 
#np.arange() function constructs an array of consecutive integers 
np.arange(3)

array([0, 1, 2])

In [5]:
# we can use this to create a pandas series
pd.Series(np.arange(3), index=['a', 'b', 'c'])

a    0
b    1
c    2
dtype: int64

What kind of parameter is 'index'?
Answer: an optional parameter, there is a default value to it.
If we don't specify 'index', the default is to start the index from 0:
example:

In [6]:
#Create a series from a list of strings with default index
pd.Series(['EDS 220', 'EDS 222', 'EDS 223', 'EDS 242'])

0    EDS 220
1    EDS 222
2    EDS 223
3    EDS 242
dtype: object

In [ ]:
#Operations of Series 

Arithmetic operations work on series on also most NumPy functions.

Example:

In [9]:
#define a series:
s = pd.Series([98, 73, 65], index = ['Andrea', 'Beth', 'Carolina'])

#divide each element by 10:
print(s/10)

Andrea      9.8
Beth        7.3
Carolina    6.5
dtype: float64

Example: create a new series with 'True'/'False' values indicating whether the lengths in the series satisfy a condition or not

In [10]:
s>70

Andrea       True
Beth         True
Carolina    False
dtype: bool

Simple but important!! Using conditions on Series is key to selecting data from dataframes!

## Attributes & Methods 
Two examples about idenfitfying missing values...

-missing valeus in 'pandas' are represented by 'np.Nan' = not a number 

-'NaN' is a type of float in numpy

In [12]:
np.NaN

nan

In [13]:
type(np.NaN)

float

In [14]:
#series with NAs in it:
s = pd.Series([1,2,np.NaN, 4, np.NaN])
s

0    1.0
1    2.0
2    NaN
3    4.0
4    NaN
dtype: float64

'hasnans' = attribute of pandas series, returns True if there are any NAs:

In [16]:
#check if our series has NAs. Very useful if you are trying to determine if you have missing data! 
s.hasnans

True

isna() = a method of series, returns a series indicating which elements are NAs:

In [17]:
#lets check for the items in our series to determine if they are NAs 
s.isna()

0    False
1    False
2     True
3    False
4     True
dtype: bool

'bool': 'True' or 'False' are **boolean values**

# Dataframes 

'pandas.DataFrame':

-most used object in Pandas

-represents tabular data (think of a spreadsheet)

-each column is a 'pandas.Series'

# Creating a 'pandas.DataFrame'
*many ways of creating a dataframe*. Let's see one.

Remember dictionaries? They are sets of key-value pairs:
```
{ key1: value1,
key2: value2
}
```

Think of a 'pd.DataFrame' as a dictionary where:

-keys = column names

-values = column values 

We can create a data frame like this:

In [19]:
#initialize dictionary with 'columns' data
d = {'col_name1': np.arange(3), 
    'col_name2': [3.1, 3.2, 3.3]}
d

{'col_name1': array([0, 1, 2]), 'col_name2': [3.1, 3.2, 3.3]}

In [21]:
#create the data frame 
df = pd.DataFrame(d)
df

   col_name1  col_name2
0          0        3.1
1          1        3.2
2          2        3.3

# In-place Operations 
Let's rename the data frame's columns 

We can use a dtaframe **method** called 'rename'. 
'rename' takes in as an input a dictionary. Syntax looks like:
```
{ 'col_1_old_name': 'col_1_new_name'}
```

In [26]:
# Define new columns names 
col_names = {'col_name1': 'col1',
            'col_name2': 'col2'}
# rename using rename
df.rename(columns = col_names)

   col1  col2
0     0   3.1
1     1   3.2
2     2   3.3

'df.rename()' doesn't change the column names in place. It doesn't modify the object itself. Instead, it creates a new object as an output

If we want to change permanently, assign output back to dataframe to actually change it:

In [27]:
df = df.rename(columns = col_names)
df

   col1  col2
0     0   3.1
1     1   3.2
2     2   3.3